@if (loading) {
    <mat-spinner style="margin-left: 40%; margin-top: 20%;" [diameter]="50"></mat-spinner>
} @else {
    <div class="main-container">
        <div class="wrapper">
            <h1>{{ title() }}</h1>
        </div>
        <form [formGroup]="shipmentForm">
            <mat-stepper orientation="vertical" #stepper>
                
                <mat-step [stepControl]="shipmentForm.get('submitDate')!">
                    <ng-template matStepLabel>Date request was received by Leloko (format: dd/mm/yyyy)</ng-template>
                    <mat-form-field>
                        <mat-label>Accepted On (format: dd/mm/yyyy)</mat-label>
                        <input type="date" matInput formControlName="submitDate"/>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('communicationChannel')!">
                    <ng-template matStepLabel>
                        How did the client contact us?
                    </ng-template>
                    <mat-form-field>
                        <mat-label>
                            Communication Channels (Select Option)
                        </mat-label>
                        <mat-select formControlName="communicationChannel">
                            @for (channel of communicationChannel; track $index) {
                            <mat-option [value]="channel">{{ channel }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('comments')!">
                    <ng-template matStepLabel>Comments</ng-template>
                    <mat-form-field >
                        <mat-label>Comments</mat-label>
                        <input matInput formControlName="comments" />
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('pickupAddress')!">
                    <ng-template matStepLabel>Collection Address</ng-template>
                    <mat-form-field >
                        <mat-label>Collection Address</mat-label>
                        <input matInput formControlName="pickupAddress" />
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('destinationAddress')!">
                    <ng-template matStepLabel>Delivery Address</ng-template>
                    <mat-form-field >
                        <mat-label>Delivery Address</mat-label>
                        <input matInput formControlName="destinationAddress" />
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('plannedStartDate')!">
                    <ng-template matStepLabel>Proposed Start Date (format: dd/mm/yyyy)</ng-template>
                    <mat-form-field>
                        <mat-label>Start Date (format: dd/mm/yyyy)</mat-label>
                        <input type="date" matInput formControlName="plannedStartDate" />
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('actualStartDate')!">
                    <ng-template matStepLabel>Actual Start Date (format: yyyy/mm/dd)</ng-template>
                    <mat-form-field>
                        <mat-label>Started On (format: yyyy/mm/dd)</mat-label>
                        <input type="date" matInput formControlName="actualStartDate" />
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('actualEndDate')!">
                    <ng-template matStepLabel>End Date (format: yyyy/mm/dd)</ng-template>
                    <mat-form-field>
                        <mat-label>Finished On (format: yyyy/mm/dd)</mat-label>
                        <input type="date" matInput formControlName="actualEndDate" />
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('user')!">
                    <ng-template matStepLabel>
                        Assigned Driver
                    </ng-template>
                    <mat-form-field>
                        <mat-label>
                            Driver (Selection Option)
                        </mat-label>
                        <mat-select formControlName="communicationChannel">
                            @for (user of users; track $index) {
                            <mat-option [value]="user">{{ user }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                        </div>
                </mat-step>
                <mat-step [stepControl]="shipmentForm.get('vehicle')!">
                    <ng-template matStepLabel>
                        Select Vehicle
                    </ng-template>
                    <mat-form-field>
                        <mat-label>
                            Vehicle (Selection Option)
                        </mat-label>
                        <mat-select formControlName="communicationChannel">
                            @for (vehicle of vehicles; track $index) {
                            <mat-option [value]="vehicle">{{ vehicle }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                
            </mat-stepper>
            
            <button class="submit-button" mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
        </form>
    </div>
}

