.icon-display {
    transform: scale(1.5);
    width: 2em;
}

.wrapper {
    position: relative;
    height: 10px;
    width: 80px;
    margin: 2em 0 1.4em 0em;
    
    border-bottom: 2px solid var(--mat-sys-primary);
    h1 {
        font-size: 1.2em;
        font-weight: 400;
        width: 20%;
        position: absolute;
        width: max-content;
        bottom: -10px;
        left: 3px;
        color: var(--mat-sys-secondary);
        border: none;
    }
}

.job-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(211, 211, 211);
    border-radius: 8px;
    padding: 1em 4em;
    margin-top: 4em;
    width: 70%;
    height: 250px;

    .right-col {
        display: flex;
        display: flex;
        flex-direction: column;
        width: 40%;
        .field {
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
        }
    }
}