.main-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
     0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin: 0 auto;
    padding: 3em 0 6em 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    border-top: none;

    .wrapper {
        position: relative;
        height: 10px;
        width: 75px;
        margin: 2em 0 3em 2em;
        border-bottom: 4px solid var(--mat-sys-primary);
        h1 {
            font-size: 1.2em;
            font-weight: 600;
            width: 20%;
            position: absolute;
            width: max-content;
            bottom: -10px;
            left: 3px;
            color: var(--mat-sys-secondary);
            border: none;
        }
    }

    form {

        button:not(.submit-button) {
            font-size: 1em;
            margin-right: 20px;
        }
    
        .submit-button {
            position: absolute;
            right: 2em;
            margin-top: 2em;
        }
    
        .mat-mdc-form-field {
            margin-top: 1em;
            width: 30%;
        }
        .submit-button {
            margin-bottom: 2em;
        }
    }
    
}