
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '../theme.css';

:root {
  // @include mat.toolbar-overrides((
  //   container-background-color: var(--mat-sys-primary),
  //   container-text-color: var(--mat-sys-secondary),
  // ));

  @include mat.sidenav-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));

  @include mat.tabs-overrides((
    active-indicator-color: orange,
    label-text-size: 1.5rem,
    label-text-weight: bold,
  ));

  @include mat.card-overrides((
    subtitle-text-color: orange,
    elevated-container-color: rgba(255, 255, 255, 0.1),
  ));
}

html, body { height: 100%; background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;}
